<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="Album"></title>
<!-- BOOTSTRAP -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}">
</head>
<body style="background-color: #f6f6f6;">
	
	<header>
		 <nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
	</header>
	
	<main class="container py-3">
	    <h1 class="fw-semibold text-secondary mb-4">Foto</h1>
	    <div class="d-sm-flex align-items-center justify-content-between mb-4">
	        <a th:href="@{/photos/create}" class="btn btn-primary fw-semibold mb-3 mb-sm-0">Aggiungi Foto <i
	                class="fa-solid fa-plus me-1"></i></a>
	          <form class="d-inline-block" th:action="@{/photos/deleteAll}"  method="post">
	         	<button onclick="confirmDeleteAll()" class="btn btn-danger my-1" type="submit">Elimina Tutto <i class="fa-solid fa-trash"></i></button>
	          </form>
	    </div>
	    <div class="row">
	        <div th:if="${photos.size() > 0}"  th:each="photo : ${photos}" class="col-4 mb-5" th:object="${photo}">
	            <div class="card h-100" style="max-width: 20rem;">
	                <img th:src="*{url}" class="card-img-top img-thumbnail img-fluid" style="max-height: 18rem;"
	                     th:alt="*{title}">
	                <div class="card-body d-flex flex-column justify-content-between">
	                    <div class="mb-3">
	                        <h5 th:text="*{title}" class="card-title"></h5>
	                        <p th:text="*{description}" class="card-text"></p>
	                        <span th:if="*{isVisible}" class="badge text-bg-success m-1">Visibile</span>
	                        <span th:unless="*{isVisible}" class="badge text-bg-danger m-1">Nascosta</span>
	                    </div>
	                    <div class="text-center">
	                        <a th:href="@{photos/{id}(id=*{id})}" class="btn btn-light my-1">
	                            <i th:if="*{isVisible}"  class="fa-solid fa-eye"></i>
	                            <i th:unless="*{isVisible}"  class="fa-solid fa-eye-slash"></i>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- if there are no photos -->
	        <div th:if="${photos.size() < 1}" th:object="${photo}" class="alert alert-secondary fs-3" role="alert">
				
				<h1>Non ci sono foto!</h1>
				
			</div>
	    </div>
	</main>

</body>
</html>

<!-- delete all -->
<script th:inline="javascript">
    function confirmDeleteAll() {
        let result = confirm('Sei sicuro di voler eliminare tutte le foto?');
        if (result) {
            window.location.href = '';
            
        } else {
            event.preventDefault();
        }
    }
</script>