<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Foto Dettagli</title>
<!-- BOOTSTRAP -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.min.css}">
</head>
<body style="background-color: #f6f6f6">
	
	<header>
    	<nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
	</header>
	<main class="container py-3" th:object="${photo}">
	    <h1 th:text="|Foto: *{title}|" class="fw-semibold text-center text-secondary mb-4"></h1>
	    <div class="d-flex justify-content-center">
	        <div class="card w-50">
	            <img th:src="*{url}" class="card-img-top img-thumbnail img-fluid" style="max-height: 500px;"
	                 th:alt="*{title}">
	            <div class="card-body d-flex flex-column justify-content-between p-4">
	                <div class="mb-3">
	                    <h5 th:text="*{title}" class="card-title fw-semibold"></h5>
	                    <p th:text="*{description}" class="card-text"></p>
	                    <!-- VISIBILITY -->
	                    <div class="mb-3">
	                        <strong>Visibilità:</strong>
		                        <span th:if="*{isVisible}" th:text="Pubblica" class="badge text-bg-success m-1"></span>
		                        <span th:unless="*{isVisible}" th:text="Privata" class="badge text-bg-danger m-1"></span>
	                    </div>
	                    <!-- CATEGORY -->
	                    <div class="d-flex flex-wrap">	
								<strong>categorie:</strong>
		                    <div th:each="category : *{categories}" th:object="${category}">
								<span  class="badge text-bg-info m-1 text-white">[[*{name}]]</span>
							</div>
						</div>
	                </div>
	                <!-- azioni -->
	                <div class="text-center rounded-bottom">
	                    <a th:href="@{/}" class="btn btn-secondary fw-semibold m-1">
	                        <i class="fa-solid fa-arrow-left me-1"></i> Torna
	                        all'elenco
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</main>
	
</body>
</html>